* {
  box-sizing: border-box; }

.body {
  font-family: "Marck Script", cursive; }

.bg {
  min-height: 100vh;
  background-color: #107373; }

header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  header .container {
    padding-top: 20px;
    font-family: "Marck Script", cursive;
    text-align: center; }
    header .container a {
      width: 162px;
      margin: 0 auto;
      text-decoration: none;
      color: #B3FFD9;
      font-size: 1.5rem; }
      header .container a span {
        opacity: 0; }
    header .container a:hover {
      text-decoration: none;
      color: #ecf011; }

.example {
  padding-top: 50px;
  text-align: center;
  font-family: "Marck Script", cursive; }
  .example .tab-pane a img {
    width: 100%; }
  .example .tabs {
    padding: 0 10px; }
  .example a {
    text-decoration: none;
    color: #B3FFD9;
    font-size: 1.5rem; }
  .example a:hover {
    text-decoration: none;
    color: #ecf011; }
  .example a:active, .example a:focus {
    outline: none; }

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  position: relative;
  text-align: center; }

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

svg rect {
  fill: transparent;
  stroke: #B3FFD9;
  stroke-width: 5px;
  stroke-dasharray: 0% 40%;
  width: 100%;
  height: 100%;
  transition: .4s all; }

.btn:hover rect {
  stroke-dasharray: 100% 0; }
