@import url(/css/normalize.css);
@import url(/css/burger.css);
* {
  box-sizing: border-box; }

.html {
  margin: 0;
  padding: 0;
  font-family: "Marck Script", cursive; }

.header-title {
  background-color: #107373;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .header-title .btn {
    display: block;
    width: 100%;
    padding: 10px;
    position: relative;
    text-align: center; }
  .header-title svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .header-title svg rect {
    fill: transparent;
    stroke: #B3FFD9;
    stroke-width: 5px;
    stroke-dasharray: 10% 25%;
    width: 100%;
    height: 100%;
    transition: .4s all; }
  .header-title .btn:hover rect {
    stroke-dasharray: 100% 0; }
  .header-title .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0; }
    .header-title .menu__item {
      width: min-content;
      margin: 0  auto;
      padding-top: 20px;
      list-style: none; }
      .header-title .menu__item a {
        margin: 0 5px;
        font-size: 1.5rem;
        color: #B3FFD9;
        text-decoration: none;
        font-family: "Marck Script", cursive; }
        .header-title .menu__item a span {
          opacity: 0; }
  .header-title .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 90vh; }
    .header-title .wrapper .photo {
      width: 40vw;
      height: 40vw;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      background-image: url(/img/photo_r.webp);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
      @media (max-width: 700px) {
        .header-title .wrapper .photo {
          width: 40vh;
          height: 40vh; } }
    .header-title .wrapper .photo:before {
      box-shadow: inset 0 10px 0 rgba(0, 250, 250, 0.6), inset 10px 0 0 rgba(0, 200, 200, 0.6), inset 0 -10px 0 rgba(0, 150, 200, 0.6), inset -10px 0 0 rgba(0, 200, 250, 0.6);
      animation: rotate-before 3s -0.5s linear infinite; }
    .header-title .wrapper .photo:after {
      box-shadow: inset 0 10px 0 rgba(250, 250, 0, 0.6), inset 10px 0 0 rgba(250, 200, 0, 0.6), inset 0 -10px 0 rgba(0, 221, 250, 0.6), inset -10px 0 0 rgba(0, 250, 217, 0.719);
      animation: rotate-after 3s -0.5s linear infinite; }

@keyframes rotate-after {
  0% {
    transform: rotateZ(0deg) scaleX(1) scaleY(1); }
  50% {
    transform: rotateZ(180deg) scaleX(1) scaleY(1); }
  100% {
    transform: rotateZ(360deg) scaleX(1) scaleY(1); } }

@keyframes rotate-before {
  0% {
    transform: rotateZ(0deg) scaleX(1) scaleY(1); }
  50% {
    transform: rotateZ(-180deg) scaleX(1) scaleY(1); }
  100% {
    transform: rotateZ(-360deg) scaleX(1) scaleY(1); } }
    .header-title .wrapper .photo:after,
    .header-title .wrapper .photo:before {
      content: "";
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: center center; }
    .header-title .wrapper .title {
      font-family: "Marck Script", cursive;
      text-align: center;
      color: #B3FFD9; }
      .header-title .wrapper .title .skill {
        font-size: 1.5rem; }
