@import url(/bike/css/null.css);
@import url(/bike/css/ui.css);
@import url(/bike/css/slider.css);
body {
  cursor: url(/img/bicycle_PNG.png) 2 20, auto; }

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto; }

.wrapper {
  overflow: hidden;
  min-height: 100%; }

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  font-size: 0px;
  flex-direction: column; }

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px; }
  @media (max-width: 767px) {
    .header {
      top: 15px; } }
  .header__row {
    display: flex;
    font-size: 0px;
    justify-content: center;
    align-items: center;
    height: 85px; }
  .header__logo {
    position: absolute;
    z-index: 1; }
    @media (max-width: 767px) {
      .header__logo.fixed {
        position: fixed; } }

.menu__list {
  display: flex;
  font-size: 0px; }
  .menu__list li {
    position: relative;
    padding: 0px 38px; }
    .menu__list li:nth-child(2) {
      padding: 0px 110px 0px 38px; }
    .menu__list li:nth-child(3) {
      padding: 0px 38px 0px 110px; }
    .menu__list li:after {
      content: "";
      width: 2px;
      height: 2px;
      background-color: #4d4959;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: 40%; }
    .menu__list li:last-child:after, .menu__list li:nth-child(2):after {
      display: none; }

.menu__link {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px; }

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #4d4959;
    padding: 150px 0px 0px 0px;
    transform: translateY(-100%);
    transition: 0.5s linear; }
    .menu__body.active {
      transform: translateY(0);
      transition: 0.5s linear; }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .menu__list li {
      padding: 0 0 45px 0 !important; }
      .menu__list li:after {
        width: 4px;
        height: 4px;
        background-color: #fff;
        right: 50%;
        top: 40px; }
      .menu__list li:nth-child(2):after {
        display: block; }
  .menu__link {
    color: #fff;
    font-size: 20px; } }

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 24px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5; }
    .icon-menu span {
      top: 8px;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #4d4959; }
      .icon-menu span:first-child {
        top: 0px; }
      .icon-menu span:last-child {
        top: auto;
        bottom: 0px; }
    .icon-menu.active span {
      background-color: #fff;
      transform: scale(0); }
      .icon-menu.active span:first-child {
        transform: rotate(-45deg);
        top: 8px; }
      .icon-menu.active span:last-child {
        transform: rotate(45deg);
        bottom: 8px; }
    .icon-menu.fixed {
      position: fixed; } }

.main-screen {
  flex: 1 0 100%;
  position: relative; }
  .main-screen__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.generation {
  padding: 120px 0;
  background-color: #f7f7f7; }
  @media (max-width: 900px) {
    .generation {
      padding: 80px 0; } }
  @media (max-width: 600px) {
    .generation {
      padding: 30px 0; } }

.block {
  text-align: center; }
  .block__icon {
    margin: 0px 0px 33px 0px; }
  .block__title {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3.6px;
    margin: 0px 0px 20px 0px; }
  .block__text {
    color: #848789;
    font-size: 18px;
    line-height: 34px; }
    .block__text_j {
      text-align: justify;
      font-size: 16px;
      line-height: 30px; }
      .block__text_j:after {
        content: "";
        display: block;
        margin: 35px auto 0 auto;
        width: 50px;
        height: 1px;
        background-color: #ebebeb; }
        @media (max-width: 1500px) {
          .block__text_j:after {
            margin: 15px auto 0 auto; } }

.brands__row {
  display: flex;
  font-size: 0px; }
  @media (max-width: 900px) {
    .brands__row {
      flex-direction: column; } }

.brands__column {
  flex: 0 1 33.333%; }
  .brands__column_b {
    flex: 0 1 66.667%; }

.brands__content {
  padding: 70px 60px 55px 60px;
  position: relative; }
  .brands__content:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin: 0px 0px 0px -10px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #fff; }
  @media (max-width: 1500px) {
    .brands__content {
      padding: 40px 35px 30px 35px; } }

.brands__image {
  padding: 0px 0px 37.51% 0px; }

.item {
  height: 100%;
  display: block;
  position: relative; }
  @media (max-width: 900px) {
    .item {
      height: auto;
      padding: 0px 0px 70% 0px; } }
  .item__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    font-size: 0px;
    flex-direction: column;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(100, 194, 158, 0.5);
    opacity: 0;
    visibility: hidden; }
    .item__logo span {
      margin: 10px 0px 0px 0px;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2.8px;
      color: #fff; }
  .item__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .item:hover .item__logo {
    opacity: 1;
    visibility: visible; }

.slider {
  background-color: #f7f7f7;
  padding: 120px 0px 60px 0px; }
  .slider__item {
    text-align: center; }
  .slider__icon {
    margin: 0px 0px 35px 0px; }
  .slider__title {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 0px 20px 0px; }
    .slider__title span {
      font-weight: 300;
      color: #848789; }
  .slider__text {
    font-size: 24px;
    font-style: italic;
    line-height: 34px;
    text-align: center;
    color: #848789; }

.shop__body {
  display: flex;
  font-size: 0px; }

.shop__column {
  flex: 0 1 16.666%; }
  .shop__column_b {
    flex: 0 1 33.333%; }

.shop__footer {
  padding: 75px 0;
  background-color: #282f35;
  text-align: center; }

.shop__btn {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 50px;
  line-height: 48px;
  letter-spacing: 2.8px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 0 60px; }

@media (max-width: 900px) {
  .shop__body {
    flex-wrap: wrap; }
  .shop__column {
    flex: 0 1 50%; }
    .shop__column:first-child {
      flex: 1 1 100%; }
    .shop__column:last-child {
      flex: 1 1 100%; }
  .shop__btn {
    padding: 0 30px; }
  .shop__footer {
    padding: 50px 0; } }

.block-shop {
  height: 100%; }
  .block-shop__row {
    display: flex;
    font-size: 0px; }
  .block-shop__column {
    flex: 0 1 50%; }
  .block-shop__item {
    height: auto;
    padding: 0px 0px 50% 0px; }
    .block-shop__item_l {
      padding: 0px 0px 100% 0px; }
    .block-shop__item_b {
      padding: 0px 0px 200.5% 0px; }

      .subscribe__body {
        max-width: 534px;
        margin: 0 auto;
        padding: 110px 0;
        text-align: center; }
      
      .subscribe__logo {
        margin: 0px 0px 40px 0px; }
      
      .subscribe__label {
        color: #848789;
        font-size: 24px;
        font-style: italic;
        margin: 0px 0px 35px 0px; }
      
      .subscribe__form {
        display: flex;
        font-size: 0px; }
      
      .subscribe .valid {
        font-size: 20px;
        margin: 5px 0px; }
      
      .subscribe .input.ok {
        border: 1px solid green; }
      
      .subscribe .input.error {
        border: 1px solid red; }
      
      .subscribe__input {
        flex: 1 1 auto;
        padding: 0px 8px 0px 0px; }
        .subscribe__input .input {
          width: 100%;
          height: 70px;
          border: 1px solid #d3d7d9;
          background-color: #fff;
          padding: 0 28px;
          color: #929292;
          font-size: 20px;
          font-style: italic; }
      
      .subscribe_button {
        flex: 0 0 126px; }
      
      .subscribe__btn {
        cursor: pointer;
        width: 100%;
        height: 70px;
        background-color: #64c29e;
        color: #fff;
        font-size: 24px; }
      
      .subscribe__btn.disabled {
        background-color: #ebebeb;
        cursor: not-allowed; }
      
      @media (max-width: 750px) {
        .subscribe__body {
          padding: 50px 0; } }
      
      @media (max-width: 500px) {
        .subscribe__form {
          display: block; }
        .subscribe__input {
          padding: 0px 0px 8px 0px; } }
      
      .footer {
  background-color: #f7f7f7;
  padding: 100px 0px; }
  .footer__row {
    display: flex;
    font-size: 0px;
    align-items: center; }
  .footer__column {
    flex: 0 1 33.333%; }
  .footer__address {
    padding: 0px 20px 0px 0px;
    color: #848789;
    font-size: 14px;
    line-height: 18px; }
    .footer__address p:first-child {
      font-weight: 700; }
  .footer__social {
    display: flex;
    font-size: 0px;
    justify-content: center;
    align-items: center; }
  .footer__dev {
    display: flex;
    font-size: 0px;
    justify-content: flex-end; }
  @media (max-width: 900px) {
    .footer {
      padding: 50px 0px; } }
  @media (max-width: 600px) {
    .footer {
      padding: 30px 0px; }
      .footer__row {
        flex-direction: column;
        text-align: center; }
      .footer__social {
        margin: 15px 0; }
      .footer__address {
        padding: 0; } }

.social {
  display: flex;
  font-size: 0px;
  justify-content: center;
  align-items: center; }
  .social__link {
    margin: 0px 7.5px; }

.dev {
  display: flex;
  font-size: 0px;
  justify-content: center;
  align-items: center; }
  .dev__text {
    color: #848789;
    font-size: 14px;
    font-style: italic;
    padding: 0px 9px 0px 0px; }
