@import url(normalize.css);
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  max-width: 1920px; }

.header-title {
  min-height: 926px;
  background-image: linear-gradient(180deg, #5f84a7 0%, rgba(108, 129, 160, 0.46) 100%), url("../img/bg_title.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 582px; }
  .header-title .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
    padding: 14px 10px; }
    .header-title .header .logo {
      flex-grow: 0.5;
      margin-left: auto; }
      @media (max-width: 820px) {
        .header-title .header .logo {
          margin-left: 0; } }
    .header-title .header .burger_btn {
      position: fixed;
      right: 57px;
      top: 10px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 100%;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1; }
      .header-title .header .burger_btn img {
        width: 40px;
        height: 40px; }
      .header-title .header .burger_btn img:hover {
        cursor: pointer; }
      @media (min-width: 821px) {
        .header-title .header .burger_btn {
          display: none; } }
    .header-title .header .wrapper {
      flex-grow: 0.5;
      line-height: 0;
      margin-left: auto; }
      @media (max-width: 820px) {
        .header-title .header .wrapper {
          display: none;
          padding-top: 90px;
          position: fixed;
          right: 0;
          top: 0;
          bottom: 0;
          width: 175px;
          background-color: #fabe26a6;
          text-align: center; } }
      .header-title .header .wrapper .ib {
        vertical-align: middle;
        display: inline-block; }
      .header-title .header .wrapper a {
        text-decoration: none; }
      .header-title .header .wrapper .menu {
        padding-bottom: 1px;
        margin-right: 7px; }
        @media (max-width: 820px) {
          .header-title .header .wrapper .menu {
            margin: 0;
            padding: 0; } }
        @media (max-width: 820px) {
          .header-title .header .wrapper .menu {
            display: flex;
            flex-direction: column;
            align-items: center; } }
        .header-title .header .wrapper .menu__Item {
          width: max-content;
          margin-right: 44px;
          font-family: "Muli", sans-serif;
          font-size: 15px;
          line-height: 19px;
          color: #ffffff;
          text-decoration: none; }
          @media (max-width: 820px) {
            .header-title .header .wrapper .menu__Item {
              background-color: #fabd26;
              margin: 10px 0px 0px 0px;
              padding: 3px;
              border-radius: 6px; } }
      .header-title .header .wrapper .outHref {
        margin-right: 28px;
        padding-bottom: 1px; }
        @media (max-width: 820px) {
          .header-title .header .wrapper .outHref {
            margin: 10px 0px 0px 0px;
            padding: 0px; } }
        .header-title .header .wrapper .outHref__facebook {
          margin-right: 14px; }
      .header-title .header .wrapper .button {
        width: 136px;
        height: 42px;
        background-color: #fabd26;
        border-radius: 3px;
        text-align: center;
        padding: 11px; }
        @media (max-width: 820px) {
          .header-title .header .wrapper .button {
            margin: 10px auto; } }
        .header-title .header .wrapper .button__text {
          font-family: "Lato", sans-serif;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff; }
  .header-title .wrapper_promo {
    margin: 302px auto 0 auto;
    max-width: 1140px;
    min-height: 505px;
    background-color: #ffffff;
    padding: 0 20px 0 20px; }
    .header-title .wrapper_promo .title {
      text-align: center;
      padding-top: 90px;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 40px;
      line-height: 46px;
      color: #798C9B; }
    .header-title .wrapper_promo .subtitle {
      text-align: center;
      margin-top: 20px;
      font-family: Lato;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      color: #798C9B; }
    .header-title .wrapper_promo hr {
      margin: 18px auto;
      width: 96px;
      height: 4px;
      background-color: #5A95D0;
      border: 0; }
    .header-title .wrapper_promo .promo {
      display: flex;
      flex-wrap: wrap;
      margin: 80px auto 0 auto; }
      .header-title .wrapper_promo .promo .text__right,
      .header-title .wrapper_promo .promo .text__left {
        color: #555555;
        font-family: "Muli", sans-serif;
        flex-grow: 0.5; }
        .header-title .wrapper_promo .promo .text__right .textWrap,
        .header-title .wrapper_promo .promo .text__left .textWrap {
          max-width: 540px;
          margin-left: auto;
          margin-top: 15px; }
        .header-title .wrapper_promo .promo .text__right .text__title,
        .header-title .wrapper_promo .promo .text__left .text__title {
          letter-spacing: 0.012em;
          font-size: 24px;
          line-height: 30px; }
        @media (max-width:1120px){
          .header-title .wrapper_promo .promo .text__right .text__title,
          .header-title .wrapper_promo .promo .text__left .text__title {
            text-align: justify; } }  
          .header-title .wrapper_promo .promo .text__right .text__title span,
          .header-title .wrapper_promo .promo .text__left .text__title span {
            font-weight: 900;
            color: #549ad1; }
        .header-title .wrapper_promo .promo .text__right .text__some,
        .header-title .wrapper_promo .promo .text__left .text__some {
          margin-top: 19px;
          font-size: 20px;
          line-height: 26px;
          letter-spacing: -0.01em;
          text-align: justify; }

.description {
  background-color: #F5F6F7; }
  .description__wrapper {
    margin: 0 auto;
    padding: 0 20px 0 20px;
    padding-top: 63px;
    padding-bottom: 80px;
    max-width: 1180px; }
    .description__wrapper .saveXtime {
      padding: 15px 20px 20px 20px;
      background-color: #fabd26;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 41px;
      text-align: center;
      letter-spacing: -0.039rem;
      color: #555555; }
    .description__wrapper .container {
      display: flex;
      flex-wrap: wrap; }
      .description__wrapper .container .diagram {
        flex-grow: 0.5;
        margin-top: 48px;
        margin-left: auto; }
        .description__wrapper .container .diagram__img {
          max-height: 340px; }
          @media (max-width: 650px) {
            .description__wrapper .container .diagram__img {
              width: 100%; } }
      .description__wrapper .container .insights {
        flex-grow: 0.5;
        margin-top: 48px;
        font-family: "Muli", sans-serif; }
        .description__wrapper .container .insights .title {
          letter-spacing: -0.02rem;
          margin-left: auto;
          max-width: 504px;
          font-weight: 900;
          font-size: 24px;
          line-height: 27px;
          color: #549ad1;
          padding: 0 20px; }
        .description__wrapper .container .insights .text_1 {
          letter-spacing: -0.01rem;
          margin-left: auto;
          max-width: 504px;
          font-size: 20px;
          line-height: 26px;
          color: #555555;
          padding: 13px 20px;
          text-align: justify; }
        .description__wrapper .container .insights .text_2 {
          margin-left: auto;
          max-width: 504px;
          font-weight: bold;
          font-size: 20px;
          line-height: 26px;
          text-align: justify;
          color: #555555;
          background-color: #fabd26;
          padding: 15px 20px; }
        .description__wrapper .container .insights .text_3 {
          font-family: "Muli", sans-serif;
          font-style: italic;
          font-size: 20px;
          line-height: 25px;
          letter-spacing: -0.035rem;
          color: #555555;
          margin-left: auto;
          max-width: 504px;
          padding: 13px 20px; }

.easy {
  max-width: 1180px;
  margin: 0 auto;
  margin-top: 68px;
  padding: 0 20px; }
  .easy .easyWrapper {
    display: flex;
    align-items: center; }
    @media (max-width: 1000px) {
      .easy .easyWrapper {
        flex-wrap: wrap;
        justify-content: center; } }
    .easy .easyWrapper .image {
      padding-left: 10px; }
    @media (max-width: 1000px) {
      .easy .easyWrapper .image {
        padding-left: 0px; } }
      .easy .easyWrapper .image img {
        max-height: 350px;
        width: 100%; }
    @media (min-width: 1000px) {
      .easy .easyWrapper .containerUp {
        max-width: 601px; } }
    .easy .easyWrapper .containerUp .textEasy_1 {
      padding: 0 20px;
      font-family: "Muli", sans-serif;
      font-weight: 900;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      letter-spacing: -0.01em;
      color: #549ad1; }
    .easy .easyWrapper .containerUp .textEasy_2 {
      padding: 0 15px;
      margin: 14px 0;
      font-family: "Muli", sans-serif;
      font-size: 20px;
      line-height: 25px;
      text-align: justify;
      letter-spacing: 0.01em;
      color: #555555; }
    .easy .easyWrapper .containerUp .textEasy_3 {
      padding: 20px;
      background-color: #fabd26;
      font-family: "Muli", sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      text-align: justify;
      color: #555555; }
    .easy .easyWrapper .containerUp .textEasy_4 {
      padding: 0 20px;
      margin-top: 10px;
      font-family: "Muli", sans-serif;
      font-style: italic;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      color: #555555; }
  .easy .textDown_1 {
    padding: 0 20px;
    margin: 68px 0 0 0px;
    font-family: "Muli", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #549ad1; }
    @media (max-width: 818px) {
      .easy .textDown_1 {
        text-align: center;
    } }
  .easy .textDown_2 {
    margin-top: 18px;
    padding: 20px;
    background-color: #fabd26;
    font-family: "Muli", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: #555555; }
  .easy .textDown_3 {
    padding: 0 20px;
    margin: 18px 0;
    font-family: "Muli", sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #555555;
    text-align: justify; }
  .easy .textDown_4 {
    padding: 0 20px;
    font-family: "Muli", sans-serif;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: #555555; }

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 150px;
  max-width: 1800px; }
  @media (max-width: 1580px) {
    .container {
      padding-right: 0px; } }
  .container .wrapperImg {
    flex-grow: 0.5;
    display: inline-block; }
    .container .wrapperImg .img {
      margin-left: auto;
      max-width: 830px;
      max-height: 502px; }
      .container .wrapperImg .img img {
        width: 100%; }
  .container .wrapperLg {
    flex-grow: 0.5;
    display: inline-block;
    margin-left: auto;
    padding: 0 20px; }
    .container .wrapperLg .wrapperText {
      max-width: 600px; }
      .container .wrapperLg .wrapperText .textWidthLg_1 {
        padding: 15px 0 0 20px;
        font-family: "Muli", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 20px;
        color: #549ad1; }
        .container .wrapperLg .wrapperText .textWidthLg_2 {
        margin-top: 10px;
        padding: 20px;
        font-family: "Muli", sans-serif;
        font-size: 20px;
        line-height: 20px;
        text-align: justify;
        color: #555555; }
      .container .wrapperLg .wrapperText .textWidthLg_3 {
        padding: 20px;
        background-color: #fabd26;
        margin: 18px 0;
        font-family: "Muli", sans-serif;
        font-size: 20px;
        line-height: 25px;
        color: #555555; 
        text-align: justify;}
      .container .wrapperLg .wrapperText .textWidthLg_4 {
        padding: 20px;
        font-family: "Muli", sans-serif;
        font-size: 20px;
        line-height: 25px;
        text-align: justify;
        color: #555555; }

.support {
  background-color: #F5F6F7; }
  .support .support__wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 56px 0; }
    .support .support__wrapper .containerText {
      flex-grow: 0.5;
      margin-left: auto;
      padding: 0 20px; }
      .support .support__wrapper .containerText .text {
        max-width: 700px; }
        .support .support__wrapper .containerText .text .title {
          padding: 10px 20px 14px 20px;
          font-family: "Muli", sans-serif;
          font-weight: 900;
          font-size: 24px;
          line-height: 30px;
          color: #549ad1; }
        .support .support__wrapper .containerText .text .textSupport_1 {
          padding: 0 20px 20px 20px;
          font-family: "Muli", sans-serif;
          font-size: 20px;
          line-height: 25px;
          color: #555555;
          text-align: justify; }
        .support .support__wrapper .containerText .text .textSupport_2 {
          background-color: #fabd26;
          padding: 20px;
          font-family: "Muli", sans-serif;
          font-weight: bold;
          font-size: 20px;
          line-height: 25px;
          color: #555555;
          text-align: justify; }
        .support .support__wrapper .containerText .text .textSupport_3 {
          padding: 20px;
          font-family: "Muli", sans-serif;
          font-style: italic;
          font-size: 20px;
          line-height: 25px;
          color: #555555; }
    .support .support__wrapper .questionImg {
      flex-grow: 0.5;
      margin-left: auto;
      padding: 0 10px; }
      @media (max-width: 1006px) {
        .support .support__wrapper .questionImg {
          order: -1; } }

.benefits {
  max-width: 1180px;
  margin: 0 auto; }
  .benefits .title {
    margin-top: 67px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #549ad1; }
  .benefits .benefits__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 90px; }
    .benefits .benefits__wrapper .image {
      flex-grow: 0.5;
      margin-left: auto; }
      @media (max-width: 620px) {
        .benefits .benefits__wrapper .image img {
          height: auto;
          width: 100%; } }
    .benefits .benefits__wrapper .text {
      flex-grow: 0.5;
      margin-left: auto; }
      .benefits .benefits__wrapper .text .textWrapper {
        max-width: 660px;
        padding: 0 20px; }
        .benefits .benefits__wrapper .text .textWrapper .titleSm {
          margin-top: 28px;
          padding-left: 10px;
          font-family: "Muli", sans-serif;
          font-weight: 900;
          font-size: 24px;
          line-height: 30px;
          color: #549ad1; }
        .benefits .benefits__wrapper .text .textWrapper .list {
          padding: 0 10px; }
          .benefits .benefits__wrapper .text .textWrapper .list .item {
            display: flex;
            align-items: center;
            margin: 25px 0;
            font-family: Muli;
            font-size: 20px;
            line-height: 22px;
            color: #555555; }
            .benefits .benefits__wrapper .text .textWrapper .list .item img {
              margin-right: 15px; }

.ceo {
  background-color: #F5F6F7;
  padding-top: 73px;
  padding-bottom: 100px; }
  .ceo .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .ceo .container .image {
      margin: 0 20px 0 10px; }
    .ceo .container .text {
      max-width: 850px; }
      .ceo .container .text .textCeo_1,
      .ceo .container .text .textCeo_2 {
        padding: 20px;
        font-family: "Muli", sans-serif;
        font-size: 20px;
        line-height: 25px;
        color: #555555;
        text-align: justify; }
      .ceo .container .text .textCeo_1 {
        margin-bottom: 20px; }
  .ceo .img {
    margin: 36px 0;
    text-align: center; }
  .ceo .textCeo_3 {
    margin: 0 20px 16px 20px;
    font-family: Lato;
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: #4E99D0; }
  .ceo .textCeo_4 {
    font-family: "Muli", sans-serif;
    font-style: italic;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    color: #798C9B; }

.get {
  background: #4E99D0;
  padding: 60px 5px;
  text-align: center;
  align-content: center;
  color: #ffffff; }
  .get .title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center; }
  .get .containerGet {
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 600px;
    justify-content: space-between; }
    @media (max-width: 550px) {
      .get .containerGet {
        flex-direction: column;
        align-items: center;
      } }
    .get .containerGet .contacts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 200px; }
      .get .containerGet .contacts .img {
        margin-bottom: 12px;
        margin-top: 24px; }
      .get .containerGet .contacts .text {
        margin-bottom: 35px;
        font-family: "Muli", sans-serif;
        font-size: 18px;
        line-height: 23px; }
  .get .button {
    margin: 0 auto;
    width: 136px;
    height: 42px;
    background-color: #fabd26;
    border-radius: 3px;
    padding: 11px; }
    .get .button__text {
      text-decoration: none;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff; }

.footer__wrapperUp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #485460;
  min-height: 110px; }

.footer__menu {
  flex-grow: 0.5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .footer__menu .menu__Item {
    margin: 0 5px;
    font-family: "Muli", sans-serif;
    font-size: 15px;
    line-height: 19px;
    color: #ffffff;
    text-decoration: none; }
  .footer__menu .color {
    color: #A3A9AF; }

.footer .connectWrap {
  flex-grow: 0.5;
  display: flex;
  margin-left: auto; }

.footer .connect {
  font-family: "Muli", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 19px;
  color: #ffffff; }

.footer__outHref .outHref__facebook {
  margin: 0 10px; }

.footer__wrapperDown {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #414C56;
  height: 95px;
  color: #A3A9AF; }
