//шрифт по умолчанию===============================================================================
$fontfamily:"Lato";
//переменные=======================================================================================
$minwidth: 320px;
//миксины==========================================================================================
@mixin flexbox {display: flex; font-size: 0px;}
//обнуление========================================================================================
@import "/css/null.css";
//общие стили======================================================================================
@import "/css/ui.css";
@import "/css/slider.css";

// .wrapper  {}

.container {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
}
.header {
    position: absolute;
    width: 100%;
    z-index: 50;
    left: 0;
    top: 35px;
    @media (max-width: 767px) {top: 15px;}

    &__row {
        @include flexbox();
        justify-content: center;
        align-items: center;
        height: 85px;
    }

    &__logo {
        position: absolute;
        z-index: 1;
        @media (max-width: 767px) {
            &.fixed{
                position: fixed;
            }
        }

    }
}
.menu {

    &__list {
        @include flexbox();
        li{
            position: relative;
            padding: 0px 38px;
            &:nth-child(2){
                padding: 0px 110px 0px 38px;
            }
            &:nth-child(3){
                padding: 0px 38px 0px 110px;
            }
            &:after{
                content: "";
                width: 2px;
                height: 2px;
                background-color: #4d4959;
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: 40%;
            }
            &:last-child,
            &:nth-child(2) {
                &:after{display: none;}
            }
        }
    }

    &__link {
        color: #4d4959;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.6px;
    }
    @media (max-width: 767px) {
        &__body {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            overflow: auto;
            background-color: #4d4959;
            padding: 150px 0px 0px 0px;
            transform: translateY(-100%);
            transition: 0.5s linear; 
            &.active {
                transform: translateY(0);
                transition: 0.5s linear;                
            }
        }
        &__list {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li{
                padding: 0 0 45px 0 !important;
                
                &:after{
                    width: 4px;
                    height: 4px;
                    background-color: #fff;
                    right: 50%;
                    top: 40px;
                }

                &:nth-child(2){
                    &:after{display: block;}
                }
            }
            
        }
        &__link {
            color: #fff;
            font-size: 20px;
        }
    }
}
.icon-menu {
    @media (max-width: 767px) {
        display: block;
        position: absolute;
        top: 24px;
        right: 15px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span {top: 8px;left: 0;position: absolute;width: 100%;height: 2px;background-color: #4d4959;
            &:first-child{top: 0px;}
            &:last-child{top: auto; bottom: 0px;}
        }
        &.active{
            span {
                background-color: #fff;
                transform: scale(0);
                &:first-child{
                    transform: rotate(-45deg);
                    top: 8px;
                }
                &:last-child{
                    transform: rotate(45deg);
                    bottom: 8px;
                }
            }
        }
        &.fixed{
            position: fixed;
        }
    }
}
.main-screen {
    flex: 1 0 100%;
    position: relative;

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; 
    }
}

.generation {
    padding: 120px 0;
    background-color: #f7f7f7;

    @media (max-width: 900px){
        padding: 80px 0;
    }
    @media (max-width: 600px){
        padding: 30px 0;
    }
}

.block {
    text-align: center;
    &__icon {
        margin: 0px 0px 33px 0px;
    }

    &__title {
        color: #353738;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 3.6px;
        margin: 0px 0px 20px 0px;
    }

    &__text {
        color: #848789;
        font-size: 18px;
        line-height: 34px;

        &_j {
            text-align: justify;
            font-size: 16px;
            line-height: 30px;
            &:after {
                content: "";
                display: block;
                margin: 35px auto 0 auto;
                width: 50px;
                height: 1px;
                background-color: #ebebeb;

                @media (max-width: 1500px) {
                    margin: 15px auto 0 auto;
                }
            }
        }
    }
}

.brands {

    &__row {
        @include flexbox();

        @media (max-width: 1100px) {
            flex-direction: column;
        }
    }

    &__column {
        flex: 0 1 33.333%;
        &_b {
            flex: 0 1 66.667%;
        }
    }

    &__content {
        padding: 70px 60px 55px 60px;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            left: 50%; 
            bottom: -10px; 
            margin: 0px 0px 0px -10px;
            width: 0;
            height: 0;
            border-right: 10px solid transparent; 
            border-left: 10px solid transparent; 
            border-top: 10px solid #fff; 
        }

        @media (max-width: 1500px) {
            padding: 40px 35px 30px 35px;
        }
    }

    &__image {
        padding: 0px 0px 37.51% 0px;
    }

    
}
.item {
    height: 100%;
    display: block;
    position: relative;

    @media (max-width: 1100px) {
        height: auto;
        padding: 0px 0px 70% 0px;
    }

    &__logo {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include flexbox();
        flex-direction: column;
        transition: 0.5s;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background-color: rgba(100, 194, 158, 0.5);
        opacity: 0;
        visibility: hidden;
        span{
            margin: 10px 0px 0px 0px;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 2.8px;
            color: #fff;
        }
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &:hover {
        .item__logo{
            opacity: 1;
            visibility: visible;
        }
    }
}

.slider {
    background-color: #f7f7f7;
    padding: 120px 0px 60px 0px;
    // &__body {}

    &__item {
        text-align: center;
    }

    &__icon {
        margin: 0px 0px 35px 0px;
    }
    
    &__title {
        color: #353738;
        font-size: 18px;
        font-weight: 700;
        margin: 0px 0px 20px 0px;
        span{
            font-weight: 300;
            color: #848789;
        }
    }

    &__text {
        font-size: 24px;
        font-style: italic;
        line-height: 34px;
        text-align: center;
        color: #848789;
    }
}

.shop {

    &__body {
        @include flexbox();
    }

    &__column {
        flex: 0 1 16.666%;

        &_b {
            flex: 0 1 33.333%;
        }
    }

    &__footer {
        padding: 75px 0;
        background-color: #282f35;
        text-align: center;
    }

    &__btn {
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.5);
        height: 50px;
        line-height: 48px;
        letter-spacing: 2.8px;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        padding: 0 60px;
    }

    @media (max-width: 1100px) {
        &__body {
            flex-wrap: wrap;
        }
        &__column {
            flex: 0 1 50%;
            &:first-child{
                flex: 1 1 100%;
            }
            &:last-child{
                flex: 1 1 100%;
            }
        }
        &__btn {
            padding: 0 30px;
        }

        &__footer {
            padding: 50px 0;
        }
    }
}
.block-shop {
    height: 100%;
    &__row {
        @include flexbox();
    }

    &__column {
        flex: 0 1 50%;
    }

    &__item {
        height: auto;
        padding: 0px 0px 50% 0px;
        
        &_l {
            padding: 0px 0px 100% 0px;
        }

        &_b {
            padding: 0px 0px 200.5% 0px;
        }
    }
}

.subscribe {

    &__body {
        max-width: 534px;
        margin: 0 auto;
        padding: 110px 0;
        text-align: center;
    }

    &__logo {
        margin: 0px 0px 40px 0px;
    }

    &__label {
        color: #848789;
        font-size: 24px;
        font-style: italic;
        margin: 0px 0px 35px 0px;
    }

    &__form {
        @include flexbox();
    }

    &__input {
        flex: 1 1 auto;
        padding: 0px 8px 0px 0px;
        .input{
            width: 100%;
            height: 70px;
            border: 1px solid #d3d7d9;
            background-color: #fff;
            padding: 0 28px;
            color: #929292;
            font-size: 20px;
            font-style: italic;
        }
    }

    &_button {
        flex: 0 0 126px;
    }

    &__btn {    
        width: 100%;
        height: 70px;
        background-color: #64c29e;
    }

    @media (max-width: 750px) {
        &__body {
            padding: 50px 0;
        }
    }
    @media (max-width: 500px) {
        &__form {
            display: block;
        }

        &__input {
            padding: 0px 0px 8px 0px;
        }
    }
}

.footer {
    background-color: #f7f7f7;
    padding: 100px 0px;

    &__row {
        @include flexbox();
        align-items: center;
    }

    &__column {
        flex: 0 1 33.333%;
    }

    &__address {
        padding: 0px 20px 0px 0px;
        color: #848789;
        font-size: 14px;
        line-height: 18px;
        p{
            &:first-child{
                font-weight: 700;
            }
        }
    }

    &__social {
        @include flexbox();
        justify-content: center;
        align-items: center;
    }

    &__dev {
        @include flexbox();
        justify-content: flex-end;
    }

    @media (max-width: 1100px) {
        padding: 50px 0px;
    }
    
    @media (max-width: 600px) {
        padding: 30px 0px;
        &__row {
            flex-direction: column;
            text-align: center;
        }
        &__social {
            margin: 15px 0;
        }
        &__address {
            padding: 0;
        }
    }
}

.social {
    @include flexbox();
    justify-content: center;
    align-items: center;
    &__link {
        margin: 0px 7.5px;
    }
}
.dev {
    @include flexbox();
    justify-content: center;
    align-items: center;

    &__text {
        color: #848789;
        font-size: 14px;
        font-style: italic;
        padding: 0px 9px 0px 0px;
    }
}
